// .section {
//   position: relative;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .section__inner {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .card {
//   max-width: 80%;
//   background-color: white;
//   color: black;
//   border-radius: 10px;
//   padding: 40px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   text-align: center;
//   opacity: 0.2;
// }

// .section__title {
//   margin: 0;
//   font-size: 5rem;
//   font-weight: bold;
// }

// .section__title--first {
//   color: #ff7f50;
// }

// .section__title--second {
//   color: #00bfff;
// }

// .section__title--third {
//   color: #adff2f;
// }
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // padding: 4%;
  // opacity: 0.1;
  //   &:first-of-type {
  //   // flex-direction: initial;
  //   // justify-content: center;
  // }
  //   &:nth-child(2) {
  //   flex-direction: center;
  // }
}
// .whole{
//   justify-content: center;
// }
.section-opacity{
  // opacity: 1;
}
.w-screen{
    width: 100vw;
    justify-content: center;
}
// .s-screen{
//     width: 40vw;
//     margin: 5%;
// }
.section-left {
  // align-items: flex-start;
  // &:last-child{
  //   flex-direction:column-reverse;
  //   pointer-events: all;
  //  position: relative;
  // //  width: 50vh;
  // }
}

.section-right {
 
    transform: translateX(50%);
  margin-right: 5%;
 
}
.mid{
 text-align: center ;
//  margin-top:2%;
}
.down{
  text-align: center  ;
  bottom: 2%;
   margin-top: 60vh ;
   
}
.card{
  // height: 100vh;
  // width: 50vh;
  width: 50%;
  background-color: rgb(45, 70, 70);
  
}

.section-opacity {
  // opacity: 1;
}

.section-heading {
  font-weight: 600;
  font-family: serif;
  font-size: 2rem;
}

.section-text {
  color: #6b7280;
  margin-top: 1rem;
}

.section-list {
  list-style: none;
  margin-top: 1rem;
  line-height: 1.5;
}

.section-list li::before {
  content: "👉 ";
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.last{
  width: 10%;
}


/* Styles for the "flex" class */
.flex {
  display: flex;
}

/* Styles for the "items-center" class */
.items-center {
  align-items: center;
  text-align: center;
}

/* Styles for the "justify-center" class */
.justify-center {
  // justify-content: center;
    margin-left: 5%;
  margin-right: 5%;

}
