section {
  height: 100vh;
  display: flex;
  // flex-direction: column;

  // justify-content: center;
  // padding: 4%;
  // opacity: 0.1;
  //   &:first-of-type {
  //   // flex-direction: initial;
  //   // justify-content: center;
  // }
  //   &:nth-child(2) {
  //   flex-direction: center;
  // }
}
.whole{
  // border-radius: 90% ;
// height: 90vh;
}
.section-opacity{
  // opacity: 1;
}
.w-screen{
    width: 100vw;
    justify-content: center;
}
// .s-screen{
//     width: 40vw;
//     margin: 5%;
// }
.section-left {
  // align-items: flex-start;
  // &:last-child{
  //   flex-direction:column-reverse;
  //   pointer-events: all;
  //  position: relative;
  // //  width: 50vh;
  // }
}

.section-right {
 
    transform: translateX(50%);
  margin-right: 5%;
 
}
.mid{
 text-align: center ;
//  margin-top:2%;
}
.down{
  text-align: center  ;
  bottom: 2%;
   margin-top: 60vh ;
   
}
.card{
  // height: 100vh;
  // width: 50vh;
  width: 50%;
  background-color: #303232;
  // border-radius: 10% ;
  border-radius: 20px;
  border-style: solid;
  border-color: #303232;
  border-width: thick;
   list-style: none;
  margin-top: 1rem;
  line-height: 1.5;
  height: auto;
}

.section-heading {
  font-weight: 600;
  font-family: serif;
  font-size: 2rem;
}

.section-text {
  color: #6b7280;
  margin-top: 1rem;
}

.section-list {
  list-style: none;
  margin-top: 1rem;
  line-height: 1.5;
}

.section-list li::before {
  content: "👉 ";
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.last{
  width: 10%;
}

.section-flex{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

$h1-font-size: 3em;
$p-font-size: 1em;

@media (max-width: 767px) {
  h1 {
    font-size: $h1-font-size * 0.8; // reduce font size by 20%
  }
  p {
    font-size: $p-font-size * 0.8; // reduce font size by 20%
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: $h1-font-size; // use default font size
  }
   p {
    font-size: $p-font-size; // use default font size
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: $h1-font-size * 1.2; // increase font size by 20%
  }
   p {
    font-size: $p-font-size * 1.2; // increase font size by 20%
  }
}